.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
} 

.logo img{
    width: 200px;
    height: auto;
}

.nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
 }
  
.nav-items > ul > li{
   padding: 10px;
   margin: 10px;
}

/* .res-card{
    width: 200px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
} */
.res-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Optional: to fill the entire available height */
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black; 
}

.search{
    padding: 10px;
}

.res-logo img{
    padding: 5px;
    width: 190px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.login{
    padding: 0 20px;
}

.user-card{
    padding: 10px;
    border: 10 px solid black;
}


